@model Spin.ViewModels.NewRoundViewModel
@{
    ViewBag.Title = "Choose Tees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose Tees</h2>

<div class="form-group">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Tees</th>
                <th>Par</th>
                <th>Yards</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tee in Model.TeeModels)
            {
            <tr>
                <td>@Html.ActionLink(tee.TeeName.ToString(), "ChooseStartingHole", "NewRound", new { teeId = tee.Id }, null)</td>
                <td>@tee.TeePar</td>
                <td>@tee.TeeDistance</td>
            </tr>
            }
        </tbody>
    </table>
</div>
